[submodule "kodi/fuentekodileia"]
	path = kodi/fuentekodileia
	url = https://github.com/fuentekodileia/fuentekodileia.github.io
[submodule "kodi/palantir"]
	path = kodi/palantir
	url = https://github.com/palantirsource/palantir
[submodule "kodi/kelebek_script"]
	path = kodi/kelebek_script
	url = https://github.com/kelebekmariposas/kelebekmariposas.github.io
[submodule "kodi/luar_script"]
	path = kodi/luar_script
	url = https://github.com/LuarSource/Fuente
[submodule "kodi/quartz_skin"]
	path = kodi/quartz_skin
	url = https://github.com/nonJon/skin.quartz
